button:hover {
  background-color: #5d9fc2;
  /* color: #000000; */
}

button:focus {
	 background-color: #9ec8de;
	 color: #ffffff;
}

.stopbutton {
  background-color: #0b5178;
  width: 20vw;
  height: 8vw;
  margin-left: 13vw;
  margin-top: 3.4vw;
  /* margin-left: 10px; */
}

.stopbutton:focus {
	 background-color: #0b5178;
	 color: #cccccc;
}
