/* Repeat */
  .repeat-button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 15px;
      right: 10px;
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      outline: 0;
      background-color: #b8a07e;
  }
  
  .icon-repeat {
      border: none;
      overflow: auto;
      border-radius: 3px;
      cursor: pointer;
      height: 30px;
      width: 30px;
      background: #acacac
      5px center no-repeat;
      background-size: 24px;
      background-position: center;
      filter: invert(1);
      margin-left: -3px;
      margin-top: -3px;
  }
  .icon-repeat-again {
      background: #ababab
      margin-left: unset;
      margin-top: unset;
      background-size: 22px;
  }
