/*=============================================
=            Catefories Section            =
=============================================*/

#categories .section-container {
  background: -moz-linear-gradient(90deg, hsla(191, 88%, 81%, 1) 0%, hsla(260, 72%, 82%, 1) 50%, hsla(247, 73%, 69%, 1) 100%);
  padding: 1px;
  border-radius: 5px;
  justify-content: center;
}
.stations {
  height: 10px;
  width: 100%;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 1px;
  background: -moz-linear-gradient(90deg, hsla(191, 88%, 81%, 1) 0%, hsla(260, 72%, 82%, 1) 50%, hsla(247, 73%, 69%, 1) 100%);
  box-shadow: 0px 0px 10px 2px #00000050;
}
.stations .image-container {
  margin: 0;
  width: 4px;
  height: 4px;
}
.category-container {
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.category {
  position: relative;
  width: 9px;
  height: 9px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 1px;
  margin-right: 1px;
}
.category .image-container {
  display: block;
  width: 9px;
  height: 9px;
  margin-right: 0;
}
.category img {
  border-radius: 50%;
}
.category .name {
  position: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  text-align: center;
  z-index: 2;
  font-size: 3px;
  text-shadow: 0px 5px 6px rgba(0, 0, 0);
}
.love {
  background: rgb(2, 0, 36);
  background: linear-gradient(#ff577e50 0%, #ff577f50 100%);
}
.retro {
  background: linear-gradient(#f0cb6550 0%, #f1ce6d50 100%);
}
.chill {
  background: linear-gradient(#00d0f550, #51c2d550);
}
.workout {
  background: linear-gradient(#ebd8b750 0%, #ebd8b750 100%);
}
.rock {
  background: linear-gradient(#0015ff50 0%, #0015ff50 100%);
}
.pop {
  background: linear-gradient(
    rgba(255, 166, 0, 0.5) 0%,
    rgba(255, 68, 0, 0.5) 100%
  );
}

/*=====  End of Catefories Section  ======*/
.center {
  align-self: center;
  justify-self: center;
}
aside {
  flex: 0 0;
  display: none;
}
.image-container {
  width: 6px;
  height: 6px;
  margin-right: 1px;
  border-radius: 5px;
  overflow: hidden;
}
.section-container {
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-title {
  margin: 2px 0 1px;
  color: white;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 3px;
  line-height: 2;
  border-bottom: 1px solid white;
}
/* Dropdown */
.dropdown {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 10px;
  right: 20px;
  transition: transform 0.4s;
  transform: scale(0);
  transform-origin: 100% 0;
  font-weight: normal;
}
.dropdown-container:focus .dropdown {
  z-index: 100;
  transform: scale(1);
  text-align: right;
}
.dropdown-container:focus .menu-icon {
  color: white;
}

/*=====  End of Global Styles  ======*/
.fit-content {
  width: 100%;
  width: -moz-fit-content;
}

#audio-player {
  right: 0px;
  left: 0px;
  position: fixed;
  bottom: 50px;
  padding: 10px;
  font-family: 'JetBrains Mono', monospace;
}
.song-image {
  width: 50px;border-top-left-radius: 5px;height: 100px;
}
.song-text {
  margin: 0px;color: rgb(172,248,159);max-width: 100%;
}
.song-container {
  margin-bottom: 20px;border-bottom-right-radius: 30px;border: 2px solid var(--gray);border-bottom-style: solid;border-top-left-radius: 30px;
}
audio::-webkit-media-controls-panel {
  background-color: #F5DBF4;
}

a.nav-link {
  color: #F5DBF4;
}

.footer-basic {
  padding: 20px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.header-dark {
  background-size: auto;
}

.header-dark h1 {
  color: #DC7ABA;
  font-family: 'JetBrains Mono', monospace;
  font-size: 20px;
  padding-top: 40px;
}

/* Highlight Clean */
.highlight-clean {
  color: #DC7ABA;
  background-color: #DC7ABA;
  padding: 30px 0;
  font-family: 'JetBrains Mono', monospace;
}

.highlight-clean p {
  color: #DC7ABA;
}

.highlight-clean h2 {
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}

.highlight-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 25px;
}

.highlight-clean .buttons {
  text-align: center;
}

.highlight-clean .buttons .btn {
  padding: 16px 32px;
  margin: 6px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none;
  background-color: #DC7ABA;
}

.highlight-clean .buttons .btn:hover {
  opacity: 1;
}

.highlight-clean .buttons .btn:active {
  transform: translateY(1px);
}

.highlight-clean .buttons .btn-primary {
  background-color: #DC7ABA;
  color: #fff;
}

.text-center {
  margin: 10px 0 15px;
}

#saavn-bitrate {
  background-color: #1c1c1c;
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 5px;
}

footer {
  color: rgba(255, 255, 255, 0.753);
  font-family: 'JetBrains Mono', monospace;
  font-size: 10px;
}
.error {
 margin : 20px;
}
