.fit-content {
  width: 100%;
  width: 100%;
}

#audio-player {
  right: 0px;
  left: 0px;
  position: fixed;
  bottom: 50px;
  padding: 10px;
  font-family: 'JetBrains Mono', monospace;
}
.song-image {
  width: 200px;border-top-left-radius: 5px;height: 100px;
}
.song-text {
  margin: 0px;color: rgb(172,248,159);max-width: 100%;
}
.song-container {
  margin-bottom: 20px;border-bottom-right-radius: 30px;border: 2px solid var(--gray);border-bottom-style: solid;border-top-left-radius: 30px;
}
audio::-webkit-media-controls-panel {
  background-color: #F5DBF4;
}

a.nav-link {
  color: #F5DBF4;
}

.footer-basic {
  padding: 20px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.header-dark {
  background-size: auto;
}

.header-dark h1 {
  color: #DC7ABA;
  font-family: 'JetBrains Mono', monospace;
  font-size: 20px;
  padding-top: 40px;
}

/* Highlight Clean */
.highlight-clean {
  color: #DC7ABA;
  background-color: #DC7ABA;
  padding: 30px 0;
  font-family: 'JetBrains Mono', monospace;
}

.highlight-clean p {
  color: #DC7ABA;
}

.highlight-clean h2 {
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: #ffffff;
}

.highlight-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 25px;
}

.highlight-clean .buttons {
  text-align: center;
}

.highlight-clean .buttons .btn {
  padding: 16px 32px;
  margin: 6px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 9px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none;
  background-color: #DC7ABA;
}

.highlight-clean .buttons .btn:hover {
  opacity: 1;
}

.highlight-clean .buttons .btn:active {
  transform: translateY(1px);
}

.highlight-clean .buttons .btn-primary {
  background-color: #DC7ABA;
  color: #fff;
}

.text-center {
  margin: 10px 0 15px;
}

#saavn-bitrate {
  background-color: #1c1c1c;
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 5px;
}

footer {
  color: rgba(255, 255, 255, 0.753);
  font-family: 'JetBrains Mono', monospace;
  font-size: 10px;
}
.error {
 margin : 20px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;

}

.card {
    background-color: #232323;
    width: 180px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.card-img {
    width: 100%;
    border-radius: 0.5rem;
}

.card-title {
    font-weight: 600;
}

.card-info {
    font-size: 0.75rem;
    opacity: 0.75;
}
